<div class="well">
    <form class="form-inline">
        <div class="from-group">
            <input placeholder="Event Name" class="form-control" #eventname />
        </div>
        <div class="from-group">
            <input placeholder="Description" class="form-control" #desciption />
        </div>
        <div class="from-group">
            <input placeholder="Speaker" class="form-control" #speaker />
        </div>
        <button (click)="addEvent(eventname.value,desciption.value,speaker.value )" type="button">Add New Event</button>
    </form>
</div><table border = "2">
    <thead> 
    <tr>
        <th>Id</th>  
        <th>Name</th>  
        <th>Description</th>  
        <th>Speaker</th>
        
        </tr>  
        </thead>  
        
        <tbody>
           
        <tr *ngFor = "let p of events">  
        <td>{{p["id"]}}</td>  
        <td>{{p["name"]}}</td>  
        <td>{{p["description"]}}</td>  
        <td>{{p["speaker"]}}</td>
        
            <td><button class="btn btn-danger" (click)="del(p)"><b>X</b></button></td>
        
        </tr>
        <!-- <tr><td> <button class="btn btn-warning" onclick="deleteEmp()">Remove</button> </td></tr> -->
        
        
    </tbody>  
    </table>