<!-- <h1>this is root</h1>


<app-home></app-home>
<app-employee></app-employee> -->
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a routerLink="/">Home </a></li>
            <li> <a routerLink="/about">About Us</a></li>
            <li> <a routerLink="/contact">Contact Us</a></li>
            <li> <a routerLink="/employee">Employee</a></li>
            <li> <a routerLink="/empList">Employee List</a></li>
            <li> <a routerLink="/reactive-form">Reactive Form</a></li>
            <li> <a routerLink="/user">Users</a></li>
            <li> <a routerLink="/adduser">Add User</a></li>
            <li> <a routerLink="/classdemo">Class Demo</a></li>
            <li> <a routerLink="/test">TEST</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
